body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  background: url("/images/stars-bg.jpg");
}

a {
  color: white;
}

a:hover {
  color: cyan;
}

li a:hover {
  color: black;
}

img {
  width: 100%;
}

.planetLink {
  padding-bottom: 15px;
}

.spacer30 {
  height: 30px;
}
